language: java
jdk: oraclejdk6

before_install:
  # Gradle
  - wget http://services.gradle.org/distributions/gradle-1.6-bin.zip
  - unzip gradle-1.6-bin.zip
  - export GRADLE_HOME=$PWD/gradle-1.6
  - export PATH=$GRADLE_HOME/bin:$PATH

script: gradle assemble