language: java
jdk: oraclejdk7
env: ANDROID_SDK=android-16 ANDROID_ABI=armeabi-v7a

before_install:
  # Install ia32-libs (necessary for Android SDK to run on 64-bit linux)
  # - sudo apt-get clean && sudo apt-get update
  - sudo apt-get update -qq
  - sudo apt-get install -qq --force-yes libgd2-xpm ia32-libs ia32-libs-multiarch

  # Install Android SDK
  - wget http://dl.google.com/android/android-sdk_r22.6.2-linux.tgz
  - tar -zxf android-sdk_r22.6.2-linux.tgz
  - ls
  - export ANDROID_HOME=`pwd`/android-sdk-linux
  - export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools

  # Install build-tools
  - wget https://dl-ssl.google.com/android/repository/build-tools_r19.0.3-linux.zip
  - unzip build-tools_r19.0.3-linux.zip -d $ANDROID_HOME
  - mkdir -p $ANDROID_HOME/build-tools/
  - mv $ANDROID_HOME/android-4.4.2 $ANDROID_HOME/build-tools/19.0.1

  # Install required Android components
  - android list sdk --extended
  # Do you accept the license 'android-sdk-license-bcbbd656' [y/n]:
  - echo -ne "y\n" | android update sdk --filter system-image,platform-tools,extra-android-support,$ANDROID_SDK --no-ui --force

  # Create and start emulator
  - echo no | android create avd --force -n test -t $ANDROID_SDK --abi $ANDROID_ABI
  - android list avds
  - emulator -avd test -no-skin -no-audio -no-window &

before_script:
  # Make sure the emulator has started before running tests
  - chmod +x ./wait_for_emulator
  - ./wait_for_emulator

script:
  - mvn clean install -e
